<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SlideSCI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SlideSCI.Properties.Settings>
      <setting name="TitleFontName" serializeAs="String">
        <value>微软雅黑</value>
      </setting>
      <setting name="TitleFontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="TitleDistanceFromBottom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TitleText" serializeAs="String">
        <value>图片标题</value>
      </setting>
      <setting name="AutoGroup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LabelOffsetX" serializeAs="String">
        <value>-20</value>
      </setting>
      <setting name="LabelOffsetY" serializeAs="String">
        <value>-7</value>
      </setting>
      <setting name="LabelTemplate" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="LabelFontName" serializeAs="String">
        <value>Arial</value>
      </setting>
      <setting name="LabelFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ColNum" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ColSpace" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RowSpace" serializeAs="String">
        <value />
      </setting>
      <setting name="ImgWidth" serializeAs="String">
        <value />
      </setting>
      <setting name="ImgHeight" serializeAs="String">
        <value />
      </setting>
      <setting name="ToggleBackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="imgAutoAlignSortType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="imgAutoAlignAlignType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="imgAutoAlighExcludeText" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LabelBold" serializeAs="String">
        <value>True</value>
      </setting>
    </SlideSCI.Properties.Settings>
  </userSettings>
</configuration>